
.model-3d {
  height: 520px;
  width: 100%;
}

.model-item-image {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 15px;
}

.preset-items {
  position: relative;
  z-index: 5;
}


.checkout {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.total {
  margin-bottom: 0px;
}

.model-image-container {
  border: 1px solid rgba(112, 110, 110, 0.5);
  border-radius: 15px;
}


.model-spec {
  width: 800px;
  height: 600px;
}
