// Specific CSS for your home-page

.home-page-container {
  display: flex;
  height: 90vh;
}

.home-page-container {
  background-color: $gray;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $gray;

  h1, h2, p, a {
    color: $light-gray;
  }
}

.container-flex {
  display: flex;
}

.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $gray;
  justify-content: flex-end;
}

.banner-img {
  height: 100%;
  object-fit: contain;
  bottom: 0px;
}

.quote-section-container {
  height: fit-content;
  padding: 40px 20vw;
  display: flex;
  align-items: center;
}

.quote {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: $gray;
}

.about-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  height: 100%;
}

.about-container2 {
  display: flex;
  align-items: center;
}

.about-text {
  background-color: #F8F8F8;
  color: #222222;
  padding: 0 10%;
}

.button-div {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.section-img {
  width: 100%;
}

.home-row-2 {
  margin-top: 0px;
}
