.style-img {
  width: 300px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
}

.hide-checkbox {
  display: none;
}

.radio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-style {
  width: 300px;
}

.style-card {
  width: 300px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.style-title {
  margin: 0px;
  padding: 10px 10px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  transition: bottom 0.3s ease-out, opacity 0.3s;
  color: white;
  text-shadow: 0px 0px 35px rgb(34, 34, 34);
}

.style-card:hover .style-title {
  bottom: 120px;
  opacity: 0;
}

.style-card .style-description {
  margin: 0px;
  padding: 10px 10px;
  position: absolute;
  bottom: -150px;
  left: 5px;
  transition: bottom 0.3s, opacity 0.3s;
  color: white;
  opacity: 0;
  text-shadow: 0px 0px 35px rgb(34, 34, 34);
}

.style-card:hover .style-description {
  bottom: 0px;
  opacity: 1;
}

.fieldset-1 {
  padding-bottom: 300px;
}

fieldset {
  padding-bottom: 56px;
}

.style-card .style-img {
  filter: brightness(100%);
  transition: 0.3s;
}

.style-card:hover .style-img {
  filter: brightness(40%);
  transition: 0.3s;
}

.style-legend {
  padding-top: 20px;
  font-weight:500;
  font-size: 1rem;
  font-weight: bold;
}

.room-legend {
  padding-top: 20px;
  font-weight:500;
  font-size: 1rem;
  font-weight: bold;
}


.radio-container2 {
  display: flex;
  margin-bottom: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room-img {
   width: 370px;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
}

.card-room {
  width: 400px;
}

.room-card {
  width: 370px;
  height: 200px;
  position: relative;
  margin-bottom: 40px;
}

.room-title {
  margin: 0px;
  padding: 10px 10px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  transition: bottom 0.3s;
  color: white;
  text-shadow: 0px 0px 35px rgb(34, 34, 34);
}


.room-description {
  margin: 0px;
  padding: 0px 10px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  transition: bottom 0.3s, opacity 0.3s;
  color: white;
  opacity: 0;
}

.room-card:hover .room-description {
  display: block;
  bottom: 50px;
  opacity: 1;
}

.room-card:hover .room-title {
  bottom: 100px;
}


.h2class {
  margin-left: 0;
  margin-right: 0;
}
.room-type {
  margin-bottom: 200px;
}

.room-card .style-img {
  filter: brightness(100%);
  transition: 0.3s;
}

.room-card:hover .room-img {
  filter: brightness(40%);
  transition: 0.3s;
}



.greyed-out {
text-decoration: underline;
color: #929292;
}

.greyed-in {
  color: $primary;
}

.greyed-inactive {
  text-decoration: none;
  color: #929292;
}

.proper-scroll-padding {
  margin-top: -42px;
  margin-bottom: 42px;
}
