.style-img {
  width: 300px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
}

.hide-checkbox {
  display: none;
}

.radio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-style {
  width: 300px;
}

.style-card {
  width: 300px;
  margin: 30px 0px;
  position: relative;
}

.style-title {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  transition: bottom 0.3s, opacity 0.3s;
  color: white;

text-shadow: 0px 0px 20px rgba(34,34,34,0.3);

}

.style-description {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  transition: bottom 0.3s, opacity 0.3s;
  color: white;
  opacity: 0;
}

.style-card:hover .style-description {
  display: block;
  bottom: 50px;
  opacity: 1;
}

.style-card:hover .style-title {
  bottom: 100px;
  opacity: 0;
}

.style-card:hover .style-img {
  filter: brightness(40%);
  transition: 0.3s;
}

.style-legend {
  margin: 40px 0px;
  font-weight:500;
  font-size: 1rem;
  font-weight: bold;
}

.room-type {
  margin-top: 1000px;
}


.radio-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room-img {
   width: 370px;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
}

.card-room {
  width: 400px;
}

.room-card {
  width: 370px;
  height: 200px;
  position: relative;
  margin-bottom: 40px;
}

.room-title {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  transition: bottom 0.3s;
  color: white;
}

.room-description {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: none;
  transition: bottom 0.3s;
  color: white;
}

.room-card:hover .room-description {
  display: block;
  bottom: 50px;
}

.room-card:hover .room-title {
  bottom: 100px;
}


.h2class {
  margin-left: 0;
  margin-right: 0;
}
.room-type {
  margin-bottom: 200px;
}

.room-card:hover .room-img {
  filter: contrast(40%);
  transition: 0.3s;
}

.room-legend {
  margin: 40px 0px;
  font-weight:500;
  font-size: 1rem;
}

.greyed-out {
  color: $primary;
}

.greyed-in {
  color: black;
}
