

<div class="container">
  <div class="row mt-5">

    <h1 class="px-0 pb-2">Payment</h1>

      <div class="col payment-right me-2">
          <h2 class="ms-2">Order Summary</h2 clas="ms-5">

                    <div class="preset-items pe-2">

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678848440/3153hc-1_sv3rxl.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Copper lamp</span>
                        <br>
                        <span class="template-item-description">Will brighten up any living room</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x4</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">80</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678845453/1525590_jl3ech.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">White leather sofa</span>
                        <br>
                        <span class="template-item-description">Very soft and spacious</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x1</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">800</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678845484/oro-polished-silver-bar-stool_b7vqml.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Silver chair</span>
                        <br>
                        <span class="template-item-description">Modern chair for modern kitchen</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x3</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">170</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678845517/getimage.ashx_wmwwap.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Oak floor</span>
                        <br>
                        <span class="template-item-description">Long lasting</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>40m2</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">40</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846073/IMG_4503-400x500_imvoji.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Pillow Africa</span>
                        <br>
                        <span class="template-item-description">Hand crafted</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x4</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">120</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846131/rh-150-vi_mvu7f9.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Coppper Faucet</span>
                        <br>
                        <span class="template-item-description">Purifies tap water</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x1</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">300</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846191/painting_720_kynmdn.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Modern painting</span>
                        <br>
                        <span class="template-item-description">Modern art</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x1</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">30</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846556/coffee-table_720_re78ug.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Brown marble coffee table</span>
                        <br>
                        <span class="template-item-description">Hides coffee stains</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x1</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">420</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846559/plant_720_xmf9eu.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Flower pot 1</span>
                        <br>
                        <span class="template-item-description">Holds a meduim plant</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x2</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">30</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846560/vase_720_gau4dm.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Flower pot 2</span>
                        <br>
                        <span class="template-item-description">Holds a small plant</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x4</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">20</span></p>
                        </div>
                      </div>

                      <div class="d-flex item-card align-items-center mb-2 mx-2">
                        <div class="model-image-container">
                        <img src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678846649/1400955805266_y3zloq.jpg" alt="" class="model-item-image">
                        </div>
                        <p class="mt-3 me-5 ps-2">
                        <span class="template-item-name">Kitchen table</span>
                        <br>
                        <span class="template-item-description">Used as kitchen island</span>
                        </p>
                        <div class="cart-input ms-auto me-5 mb-3 d-flex flex-column">
                        <div class="d-flex">
                        <span>x1</span>
                        </div>
                        <p class="item-price">$ <span data-total-price-target="unitprice" class="item-price">860</span></p>
                        </div>
                      </div>
                    </div>
            <p class="payment-total">Your total is $3420</p>
      </div>
      <div class="col-12 col-lg-6 mb-5 order-1 order-lg-2 d-flex ps-2 pe-0">
          <div class="box1">
            <div>
              <h3>Payment</h3>
              <div class="icons">
                <img src="https://img.icons8.com/color/48/000000/visa.png"/>
                <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/>
                <img src="https://img.icons8.com/color/48/000000/maestro.png"/>
              </div>


              <form class="mt-4">
                <div>
                  <span>Cardholder's name:</span>
                  <input class="pay-fild" placeholder="Linda Williams">
                  <span>Card Number:</span>
                  <input class="pay-fild" placeholder="0125 6780 4567 9909">
                  <div class="row">
                    <div class="col-4 expiry-date">
                      <span>Expiry date:</span>
                      <input class="pay-fild" placeholder="YY/MM">
                    </div>
                    <div class="col-4">
                      <span>CVV:</span>
                      <input class="pay-fild" id="cvv">
                    </div>
                  </div>
                  <div>
                    <input class="pay-fild" type="checkbox" id="save_card" class="align-left">
                    <label for="save_card">Save card details to wallet</label>
                  </div>
                </div>
                  <div>
                  <div class="d-flex flex-column justify-content-end vh-20">
                    <%= link_to "Confirm payment", paymentdone_path, class: "button button-div-basket" %>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


  </div>
</div>
