<div class="container p-0">

<div class="row mt-4 p-0">
  <div class="col-6">
  <h1>Provide your Information</h1>
  <p> Plese fill in the form as detailed as possible.
    Provide your room dimensions, furnitures, and any other information that you think is relevant.
    We will get back to you as soon as possible.
    For the full experience, please upload a floor plan of your room, or even a LIDAR scan of your room!
  </p>



    <%= simple_form_for @booking, url: customs_path(designer: @designer) do |f| %>
      <%= f.input :spec_file, as: :file %>
      <%= f.input :spec_text %>
      <%= f.submit class: "button"%>
    <% end %>
  </div>
</div>
