

<h1>create booking form</h1>





<%= simple_form_for @booking, url: customs_path(designer: @designer) do |f| %>
  <%= f.input :spec_file, as: :file %>
  <%= f.input :spec_text %>
  <%= f.submit %>
<% end %>
