

<div class="container">

  <div class="row mt-4">

    <div class="col">
      <h3>Your spec file</h3>
      <model-viewer src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678936059/user_upload_model_q0ryu2.glb"
        ar
        ar-modes="webxr scene-viewer quick-look"
        camera-controls poster="poster.webp"
        shadow-intensity="1"
        class="model-spec"
        camera-orbit="-128.4deg 47.74deg 35.83m"
        field-of-view="30deg"
        loading="eager"
        >
      </model-viewer>
    </div>

    <div class="col">
      <h3>Your specs:</h3>
      <p class="item-card">
Style: The design should reflect the client's personal style and preferences, and create a welcoming and comfortable atmosphere for guests. <br> <br>
Color scheme: Choose a color scheme that is harmonious and soothing, such as earth tones or pastels, to create a calming and relaxing environment. <br> <br>
Furniture: Select comfortable and functional furniture that complements the style and color scheme of the room. Consider a mix of seating options, such as a sofa, armchairs, and poufs, to accommodate different preferences and group sizes. <br> <br>
Lighting: Plan for ample natural light and add artificial lighting that is warm and inviting. Consider a mix of overhead, floor, and table lamps to create different moods and accommodate different activities. <br> <br>
Accessories: Choose accessories that add personality and interest to the room, such as artwork, throw pillows, and decorative objects. Use these sparingly to avoid clutter and maintain a cohesive look. <br> <br>
Storage: Incorporate storage solutions that are both functional and aesthetically pleasing, such as bookcases, cabinets, and baskets. Consider the storage needs of the client, such as media equipment, books, and toys. <br> <br>
Layout: Plan the layout of the room to optimize traffic flow and create a functional and inviting space. Consider the placement of furniture, the location of windows and doors, and any focal points, such as a fireplace or television. <br> <br>
Budget: Work within the client's budget to create a living room that is both beautiful and practical.</p>
    </div>

  </div>
</div>











    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
