

<div class="container">

  <div class="row mt-4">

    <div class="col">
      <h3>Your spec file</h3>
      <model-viewer src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678936059/user_upload_model_q0ryu2.glb"
        ar
        ar-modes="webxr scene-viewer quick-look"
        camera-controls poster="poster.webp"
        shadow-intensity="1"
        class="model-spec"
        camera-orbit="-128.4deg 47.74deg 35.83m"
        field-of-view="30deg"
        loading="eager"
        >
      </model-viewer>
    </div>

    <div class="col">
      <h3>Your specs:</h3>
      <p class="item-card">
        I'm in need of an interior designer to help me design my living room! As someone who spends a lot of time at home, I really want to create a cozy, comfortable space that reflects my personality and style. I'm not quite sure where to start, so I was hoping you could lend me your expertise. <br> <br>

        What I'm looking for is a living room that strikes a balance between style and functionality. I want it to feel bright and open, with lots of natural light and a color scheme that's easy to work with. Ultimately, I'm hoping to create a space that feels welcoming and comfortable, while still being chic and modern. If this sounds like something you'd be interested in, I'd love to chat more about the project and get your thoughts on how to make it happen.<br><br>

        The living room measures approximately 15 feet by 20 feet. <br>
        The ceiling height is 9 feet. <br>
        I'm interested in a color palette that includes soft grays, blues, and creams. <br>
        I'd like the space to feel cozy and inviting, so I'm interested in incorporating textures like wool, velvet, and natural wood. <br>
        I want to make sure there's enough seating for when I have guests over, so I'd like to include a comfortable sectional sofa and a couple of armchairs. <br>
      </p>
    </div>

  </div>
</div>











    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
