

<div class="container">
<h1>Your specs</h1>


      <model-viewer src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678936059/user_upload_model_q0ryu2.glb"
        ar
        ar-modes="webxr scene-viewer quick-look"
        camera-controls poster="poster.webp"
        shadow-intensity="1"
        class="model-spec"
        camera-orbit="-128.4deg 47.74deg 35.83m"
        field-of-view="30deg"
        loading="eager"
        >
      </model-viewer>

</div>











    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
