<div class="container">
    <h1>Bookings</h1>
    <% if @bookings.empty? %>
      <h1>You don't have any bookings yet!</h1>
    <% else %>
      <div class="booking-item">
        <p class="p-class">Designer</p>
        <p class="p-class content-place">Booked on</p>
        <p class="p-class content-place">Status</p>
        <p class="p-class content-place"> </p>
      </div>
      <% @bookings.each do |booking| %>
        <div class="booking-item">
          <div class="p-class dashboard-avatar">
            <%= cl_image_tag booking.designer.user.avatar.key, height: 41, width: 50, crop: :fill, class: "avatar dropdown-toggle" %>
            <div class="designer-name-dashboard">
              <%= booking.designer.user.first_name %>
              </div>
          </div>

          <div class="p-class content-place"><%= booking.created_at.strftime("%B %d, %Y")  %></div>


          <div class="p-class content-place"><%= booking.status %></div>

          <div class="p-class content-place">
                <a href="#"><i class="fa-regular fa-comment-dots dashboard-icons"></i></a>
                <a href="#"><i class="fa-solid fa-list-check dashboard-icons"></i></a>
                <a href="#"><i class="fa-brands fa-uncharted dashboard-icons"></i></a>
          </div>

        </div>
      <% end %>
    <% end %>
</div>
