



    <div id="holder">

        <div id="model">
        <h1 class="custom-title">Coming soon...</h1>
      <model-viewer src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678428698/white_modern_living_room_rxi2cr.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" camera-orbit="94deg 84.33deg 21.04m" field-of-view="16.58deg" auto-rotate>
          <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
          </div>
      </model-viewer>



        </div>
    </div>

    <!-- Loads model-viewer for modern browsers -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
    <!-- Loads model-viewer for older browsers -->
