<div class="design-page-container">
    <div class="left-choice">
      <div class="info-box">
          <h1 class ="choice-h1">Custom Design</h1>
        <div class="list-and-text">
            <ul class="design-page-list">
              <li><i class="fa-solid fa-eye"></i>   Expert knowledge</li>
              <li><i class="fa-solid fa-pen-ruler"></i>   Custom recommendations</li>
              <li><i class="fa-solid fa-address-book"></i>   Access to suppliers</li>
              <li><i class="fa-solid fa-chess-queen"></i>   Unique </li>
              <li><i class="fa-solid fa-wand-magic-sparkles"></i>   High-quality </li>
            </ul>
            <p class="design-page-description">While pre-designed spaces can be a great starting point, they do have their limitations. That's where the advantages of using a professional interior designer come in. An interior designer can bring a wealth of knowledge and expertise to a project, helping to create a truly customized and personalized space that reflects the unique personality and style of the client. Interior designers have an eye for detail and can make recommendations for furniture, accessories, and finishes that users may not have considered. </p>
        </div>
        <div class="button-div">
          <%= link_to "Choose a Designer", custom_path, class: "button" %>
        </div>
      </div>
    </div>

    <div class="right-choice">
    <div class="info-box">
          <h1 class ="choice-h1">HandPicked for you</h1>
        <div class="list-and-text">
            <ul class="design-page-list">
              <li><i class="fa-solid fa-hourglass-half"></i>   Save time</li>
              <li><i class="fa-solid fa-lightbulb"></i>   We do the thinking</li>
              <li><i class="fa-solid fa-piggy-bank"></i>   Affordable</li>
              <li><i class="fa-solid fa-chess-queen"></i>   Cohesive look </li>
              <li><i class="fa-solid fa-wand-magic-sparkles"></i>   High-quality </li>
            </ul>
            <p class="design-page-description">One of the main advantages of offering users a choice between a multitude of pre-designed spaces is that it saves them time and effort. Not everyone has the time or expertise to design their own space from scratch, and having pre-designed spaces to choose from allows them to quickly and easily find a style that suits their tastes and needs. Pre-designed spaces also provide users with inspiration and ideas, helping them to envision the possibilities for their own space. Additionally, pre-designed spaces can help users avoid costly mistakes by ensuring that the furniture and accessories they choose are complementary and cohesive.</p>
        </div>

        <div class="button-div">
          <%= link_to "Pick a Style", styles_path, class: "button" %>
        </div>

      </div>
  </div>


</div>
