<div class="main-container">

  <div class="home-page-container">
    <div class="left-container">
      <h1 class="mb-2">Your personalized interior design experience.</h1>
      <p class="mb-4">Transform your space with our interior design services. Our experienced team works closely with you to create a personalized and functional design that reflects your unique style. From traditional to modern, we offer a range of design options to suit your preferences. Contact us today to start creating the home of your dreams!</p>
        <div>
          <%= link_to "Launch Styler", design_path, class: "button" %>
        </div>
    </div>

    <div class="right-container">
        <%= image_tag asset_path("main-banner.png"), class: "banner-img" %>
    </div>
  </div>

  <div class="quote-section-container">
    <p class="quote">
      At our interior design services, we believe that a well-designed space can transform your quality of life. Contact us today to learn more about how we can help you create the perfect space for your lifestyle and needs.
    </p>
  </div>

  <div class="about-container1">
    <div class="about-text">
      <h2>HandPicked for you</h2>
      <p>One of the main advantages of offering users a choice between a multitude of pre-designed spaces is that it saves them time and effort. Not everyone has the time or expertise to design their own space from scratch, and having pre-designed spaces to choose from allows them to quickly and easily find a style that suits their tastes and needs. Pre-designed spaces also provide users with inspiration and ideas, helping them to envision the possibilities for their own space. Additionally, pre-designed spaces can help users avoid costly mistakes by ensuring that the furniture and accessories they choose are complementary and cohesive.</p>
    </div>
    <div class="button-div">
      <%= link_to "Launch Styler", design_path, class: "button" %>
      </div>
  </div>

  <div class="about-container2">
    <div class="button-div">
      <%= link_to "Launch Styler", design_path, class: "button" %>
    </div>
    <div class="about-text">
      <h2>Custom Design</h2>
      <p>One of the main advantages of offering users a choice between a multitude of pre-designed spaces is that it saves them time and effort. Not everyone has the time or expertise to design their own space from scratch, and having pre-designed spaces to choose from allows them to quickly and easily find a style that suits their tastes and needs. Pre-designed spaces also provide users with inspiration and ideas, helping them to envision the possibilities for their own space. Additionally, pre-designed spaces can help users avoid costly mistakes by ensuring that the furniture and accessories they choose are complementary and cohesive.</p>
    </div>
  </div>

  <div class="footer">
    <p class="footer-notes">
      At our interior design services, we believe that a well-designed space can transform your quality of life. Contact us today to learn more about how we can help you create the perfect space for your lifestyle and needs.
    </p>
  </div>
</div>
