<div class="main-container">

  <div class="home-page-container">
    <div class="left-container">
      <h1>Virtual Styler</h1>
      <h2>Your personalized interior design experience.</h2>
        <%= link_to "Launch Styler", design_path, class: "button" %>
    </div>
    <div class="right-container">
      <img class="banner-img" src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678090275/960x0_uq7xhv.jpg" alt="">
    </div>
  </div>


  <div class="about-container1">
    <div class="about-text">
      <h2>HandPicked for you</h2>
      <p>One of the main advantages of offering users a choice between a multitude of pre-designed spaces is that it saves them time and effort. Not everyone has the time or expertise to design their own space from scratch, and having pre-designed spaces to choose from allows them to quickly and easily find a style that suits their tastes and needs. Pre-designed spaces also provide users with inspiration and ideas, helping them to envision the possibilities for their own space. Additionally, pre-designed spaces can help users avoid costly mistakes by ensuring that the furniture and accessories they choose are complementary and cohesive.</p>
    </div>
    <div class="button-div">
      <%= link_to "Launch Styler", design_path, class: "button" %>
      </div>
  </div>

  <div class="about-container2">
    <div class="button-div">
      <%= link_to "Launch Styler", design_path, class: "button" %>
    </div>
    <div class="about-text">
      <h2>Custom Design</h2>
      <p>One of the main advantages of offering users a choice between a multitude of pre-designed spaces is that it saves them time and effort. Not everyone has the time or expertise to design their own space from scratch, and having pre-designed spaces to choose from allows them to quickly and easily find a style that suits their tastes and needs. Pre-designed spaces also provide users with inspiration and ideas, helping them to envision the possibilities for their own space. Additionally, pre-designed spaces can help users avoid costly mistakes by ensuring that the furniture and accessories they choose are complementary and cohesive.</p>
    </div>
  </div>

</div>
