

<div class="home-page-container">


  <div class="left-container">
    <h1>Virtual Styler</h1>
    <h2>Your personalized interior design experience.</h2>

    <a class="button" href="">button link</a>

  </div>

  <div class="right-container">
    <img class="banner-img" src="https://res.cloudinary.com/dxgkclowd/image/upload/v1678090275/960x0_uq7xhv.jpg" alt="">
  </div>

</div>
