<h1>presets</h1>


<% if @preset === nil  %>
 <h1>Bananas, nothing matched query</h1>
<% else %>

 <% @preset.items.each do |item| %>
    <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
 <% end %>


<% end %>
