.button {

  padding: 12px 20px;
  font-weight: bold;
  background-color: $primary;
  text-align: center;
  border-radius: $border-radius;
  text-decoration: none;
  color: white;
  display: inline-block;

}

.button:hover {
  background-color: #E18E5C;
  color: white;
}
