.footer {
  height: 250px;
  padding: 0 20vw;
  display: flex;
  align-items: center;
  background-color: #222222;
  color: #F8F8F8;
  justify-content: space-evenly;

  li {
    padding: 5px 0px;
    list-style: none;
  }
}
