.footer {
  height: fit-content;
  padding: 70px 105px;
  color: $light-gray;

  li {
    padding: 5px 0px;
    list-style: none;
  }
}

.footer-container {
  background-color: $gray;
}

.padding-input {
  padding: 12px;
  margin-right: 15px;
  border: none;
}
